body{
margin:0;
font-family:Inter;
background:#0f172a;
color:white;
}

.hero{
display:flex;
gap:40px;
align-items:center;
max-width:1100px;
margin:auto;
padding:80px 20px;
}

.profile{
width:200px;
border-radius:10px;
}

section{
max-width:1100px;
margin:auto;
padding:60px 20px;
}



/* NAV BOXES */

.nav-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:20px;
margin-bottom:40px;
}

.nav-box{
background:#1e293b;
padding:20px;
border-radius:10px;
text-align:center;
text-decoration:none;
color:white;
font-weight:600;
transition:0.3s;
}

.nav-box:hover{
background:#334155;
}



/* IMPACT */

.impact-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
}

.impact-card{
background:#1e293b;
padding:25px;
border-radius:10px;
text-align:center;
}



/* CASE STUDIES */

.case-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.case-card{
background:#1e293b;
padding:25px;
border-radius:10px;
cursor:pointer;
text-align:center;
transition:0.3s;
}

.case-card:hover{
background:#334155;
}



/* WORKFLOW */

.workflow{
display:flex;
gap:10px;
flex-wrap:wrap;
margin-top:20px;
}

.box{
background:#1e293b;
padding:10px 15px;
border-radius:6px;
}



/* PROJECTS */

.projects-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.project-card{
background:#1e293b;
padding:25px;
border-radius:10px;
}

.project-card a{
color:#38bdf8;
text-decoration:none;
}



/* TOOLS */

.tools{
display:flex;
gap:15px;
flex-wrap:wrap;
}

.tools span{
background:#1e293b;
padding:10px 15px;
border-radius:6px;
}



/* CONTACT */

.contact-box{
background:#1e293b;
padding:20px;
border-radius:10px;
max-width:500px;
margin-bottom:20px;
}



/* WHATSAPP BUTTON */

.whatsapp-btn{
display:inline-block;
background:#25D366;
padding:12px 20px;
border-radius:8px;
color:white;
text-decoration:none;
font-weight:600;
}



.hidden{
display:none;
}